<table class="table">
  <thead>
  <tr>
      <th>Mitbewohner</th>
      <th>Schuldet</th>
      <th>Betrag</th>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let r of rows">
          <td>{{r.name}}</td>
          <td>{{r.to}}</td>
          <td>{{r.amount/100}}&euro;</td>
      </tr>
  </tbody>
</table>
