<div [hidden]="!userCreated" class="alert alert-success">Mitbewohner hinzugefügt</div>

<form name="newFlatmateForm" class="form-horizontal" novalidate>
  <fieldset>

    <!-- Form Name -->
    <legend>Neuer Mitbewohner</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-2 control-label" for="name">Name</label>
      <div class="col-md-10">
        <input [(ngModel)]="newFlatmate.name" id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required #name="ngModel"> 
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <div class="col-md-offset-6 col-md-6">
        <input class="btn btn-primary btn-block" type="submit" value="Mitbewohner hinzufügen" (click)="addFlatmate()" [disabled]="name.invalid"> 
      </div>
    </div>
  </fieldset>
</form>
