<table class="table">
    <thead>
    <tr>
        <th>Mitbewohner</th>
        <th>Schuldet</th>
        <th>Bilanz</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($variables['balances'] as $balance) { /* @var $flatMate \WGFinanzen\Data\FlatMate */ ?>
        <tr>
            <td><?php echo $balance[0]; ?></td>
            <td><?php echo $balance[1]; ?></td>
            <td><?php echo $balance[2]; ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>